* {
  margin:0;
  padding:0;
  box-sizing: border-box;

}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.wrapper {
  display: grid;
  grid-template-columns: repeat(8, 97.75px);
  grid-template-rows: repeat(8, 101.5);
  height: 830px;
  width: 800px;
  grid-gap: 0px;
  grid-template-areas: 
  "a8 b8 c8 d8 e8 f8 g8 h8"
  "a7 b7 c7 d7 e7 f7 g7 h7"
  "a6 b6 c6 d6 e6 f6 g6 h6"
  "a5 b5 c5 d5 e5 f5 g5 h5"
  "a4 b4 c4 d4 e4 f4 g4 h4"
  "a3 b3 c3 d3 e3 f3 g3 h3"
  "a2 b2 c2 d2 e2 f2 g2 h2"
  "a1 b1 c1 d1 e1 f1 g1 h1"
  ;

}

h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: 80px;
}




.wrapper > .black{
  background: lightgrey;
}


.wrapper-inner {
  display: grid;
  grid-template-rows: repeat(8, 101.5px);
  height: 830px;
  width: 60px;
}

.box-inner  {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: 50px;
}

.wrapper-in {
  display: grid;
  grid-template-columns: repeat(8, 97.75px);
  width: 800px;
}

